@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body { 
    margin: 0; 
    padding: 0;
    /* overflow: hidden; */
    background-color: black;
}

.scene-tooltip-container {
    background-color: dodgerblue;
    padding: 12px;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 7px;
    opacity: 0.8;
}

/* .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background: rgb(22, 27, 34) !important;
} */

/* css properties who tried to end me */
/* date rangepicker - after select - selection hover colors */
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
.ant-picker-panel>:not(.ant-picker-date-panel) :where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
.ant-picker-panel>:not(.ant-picker-date-panel) :where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
    background: #161B22;
}

:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-date-panel .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start .ant-picker-cell-inner::after,
:where(.css-dev-only-do-not-override-dwftb5).ant-picker-dropdown .ant-picker-date-panel .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end .ant-picker-cell-inner::after {
 background: rgba(91, 237, 86, 0.6);
}

.ant-modal-content{
    background-color: transparent !important;
}

/* @media (max-width: 480px) {
    .ant-calendar-range {
        width: 320px;
    }
    .ant-calendar-range-part {
        width: 100%;
    }
} */

@media (max-width: 480px) {
    .ant-picker-panels{
        display: flex;
        flex-direction: column;
    }
    .ant-picker-dropdown{
        top: 50% !important;
    }
}