body { 
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

.scene-tooltip-container {
    background-color: dodgerblue;
    padding: 12px;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 7px;
    opacity: 0.8;
}